body {
    background-color: #38373e;
    margin-left: 0px;
    font-family: Tahoma;
}

* {
    display: block;
    margin: 0px;
}


.header {
    padding: 0px;
    background-color: #1f1e25;
    width: 100vw;
    color: #cb4207;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
    padding: 4px;
}


.content {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 97vw;
}

.content * {
    padding: 10px;
}

.content button {
    border-radius: 7px;
}

.cars{
    height: 10vw;
    margin: 5px;
    width: 99vw;
    flex-wrap: nowrap;
    background-image: url("img/road.svg");
    /*background-repeat: repeat-x;*/
    display: table-cell;
    vertical-align: middle;
}

.car {
    margin-left: 0px;
}